@charset "utf-8";
/* CSS For Shop FFA - Official Online Store for the National FFA Organizaton - created 2011-07-20 */

/*
html {
background:#fff url(../images/bg.jpg) repeat-x;
}

body {
border-top:solid 7px #184d7f;
}

body, html {
margin:0 auto;
padding:0;
}
*/

/*GLOBALS*/
h1, h2, h3, a, p, img, div, ul, li, form, input {
padding:0;
margin:0;
}

ul, li {
list-style:none;
}

hr {
clear:both;
height:0;
visibility:hidden;
}

p.grey {
color:#999;
}

.center {
text-align:center;
}

.indent { /*klewis - modified*/
margin-left:20px;
}

.top { /*klewis -  modified - accesibility tag for non-styleshet browsers*/
display:none;
}

/*OVERRIDES ANY CURRENT BORDERS*/
div.nostyle, /*klewis modified*/
ul#topnav ul.nostyle li,
p.toplinks a.nostyle {
border:0;
}

/*STRUCTURE AND DESIGN THE ENTIRE SITE
#wrapper {
margin:0 auto;
width:990px;
border:solid 0 #aaa;
background:#fff;
}
*/

#header {
margin:0 auto;
width:990px;
text-align:left;
}

#header, #header a {
font:normal 11px arial;
text-decoration:none;
color:#aaa;
}

#header a {
padding-left:10px;
}

#header a.social {
padding:0;
}

#header ul  {
width:990px;
padding-left:15px;
padding-top:5px;
}

#header ul li {
float:left;
}

#header ul div {
width:300px;
position:relative;
left:240px;
text-align:right;
}

#header ul div form p {
text-align:left;
margin-left:-10px;
}

/* klewis - modified
.toplinks {
position:relative;
left:10px;
}
*/

.toplinks a { /*klewis modified*/
border-right:solid 1px #ccc;
padding-left:10px;
padding-right:10px;
}

.toplinks a:hover {
color:#777;
text-decoration:underline;
}

.header-menu {
position: relative; /*--important prop/value--*/
z-index:50;
clear:both;
width:960px;
margin:0 auto;
padding:0;
border-bottom:solid 1px #184D7F;
}

/*JQUERY MEGA-MENU*/
#topnav {
	float:left;
	margin: -5px auto 0 auto; 
	padding: 0;
	width: 960px;
	list-style: none;
}

#topnav li {
	float: left;
	margin:0 0 -5px 0;
	padding:8px 0 0 0;
	position: relative; /*--important prop/value--*/
	font-size:14px;
}

#topnav li a {
    position:relative;
	top:-5px;
	float: left;
	padding: 5px 19px 5px 19px;
    margin:0 -2px 0 -2px;
    height:17px;
	font:bold 17px arial;
	color:#184d7f;
}

#topnav li:hover a, #topnav li a:hover { 
    background-position: left bottom; 
	background:#184D7F;
	color:#fff;
}

#topnav li div {
margin-left:0;
}

#topnav li .sub {
	position: absolute; /*--important prop/value--*/
	top:30px; 
	left: -2px;
	z-index: 999999;
	padding: 12px;
	float: left;
	display:none;
	opacity:100;
	text-align:left;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	 background-color:#184D7F;
}


#topnav li .sub a { /*klewis - keep outlines for accesibility purposes*/
	outline-color:#184D7F;
	}

#topnav li .blue {
margin-left:-186px;
}

#topnav li .gold {
margin-left:-200px;
}

#BillboarBox {
	Z-index:-4;
}
#topnav li .sub ul{
	margin: 0; /*--override parent ul--*/
	padding: 0;/*--override parent ul--*/
	width: 187px;
	float: left;
	list-style: none;
}

#topnav .sub ul li {
	width: 95%; /*--override parent list item--*/
	color: #fff;
	border-left:solid 1px #3d6992;
	padding-left:10px;
}

#topnav .sub ul li h2 { /*--sub nav heading style--*/
	padding: 0;  
	margin: 0;
	font:bold 17px arial;
}

#topnav .sub ul li h2 a { /*--sub nav heading link style--*/
	padding: 5px 0;
	background-image: none;
}

#topnav .sub ul li a {
	float: none;
	text-indent: 0; /*--override text-indent from parent list item--*/
	height: auto; /*--override height from parent list item--*/
	padding: 1px 0px 1px 7px;
	display: block;
	text-decoration: none;
	color:#DEE8F0;
	font-size:11px;
}

#topnav .sub ul li a:hover {

	color: #739DBF;
	background-position: 5px 12px ;/*--Override background position--*/
}
/*MEGA MENU ENDS*/

/*CONTROL FORMS FOR THIS PAGE*/
#header form {
height:20px;
margin:5px 0 25px 50px;
}

.box-signuptoday form {
height:20px;
margin:5px 0 25px 10px;
}

.box-signuptoday p {
margin-left:12px;
}

#header form input, .box-signuptoday form input {
float:left;
height:18px;
border:solid 1px #afcbdf;
color:#999;
}

#header form input.submit, .box-signuptoday form input.submit {
height:20px;
float:right;
margin-left:5px;
border:0;
}

.box-signuptoday form input.submit {
float:none;
}

.box-signuptoday form input, .box-signuptoday form input.submit {
height:27px;
}
/*FORMS END*/

/*HOME PAGE MULTIPLE CONTENT SECTIONS*/
#content-main, .content-columns, #content-footer, #copy, #content-sub {
clear:both;
width:960px;
margin:0 auto 20px auto;
}

/*LAYOUT FOR LANDING PAGE*/
#content-top { /*klewis - modified sections*/
clear:both;
float:left;
margin:0 auto 20px auto;
}

.content-top-columns h1 {
margin:20px 0;
font:normal 30px arial;
border-bottom:solid 2px #184d7f;
color:#447097;
}

.column-top-box { /*klewis - modified*/
margin:3px;
padding:3px 3px 10px 3px;
float:left;
min-height:160px; /*should work in all current browsers*/
border:solid 1px #999;
background:#447097;
color:#fff;
}

.column-top-box h2 { /*klewis -  modified*/
padding:6px;
font:bold 14px arial;
color:#8eb7d3;
}

.column-top-box ul {
margin:0 3px;
}

.column-top-box ul li {
font:normal 12px arial;
line-height:18px;
}

.column-top-box ul li a, .column-top-box ul li a:visited {
padding-left:10px;
background: url(../images/arrow_blue.jpg) 0px 5px no-repeat;
color:#fff;
text-decoration:none;
}

.column-top-box ul li a:hover {
text-align:left;
color:#132d46;
text-decoration:underline;
}

/*LAYOUT FOR SIDE CONTENT */
#content-side {
float:right;
width:204px; 
height:600px;
text-align:center;
}

.content-side-top {
background: #c7defe;
border:solid 1px #2e4d79;
margin-bottom:10px;
padding:5px 0 5px 0;
}

.content-side-top p {
padding:0;
margin:0;
font:normal 12px arial;
color:#284775;
}

.content-side-top a, .content-side-top a:visited {
color:#284775;
}

.content-side-top hr {
padding:0;
margin:0 auto;
height:25px;
width:195px;
border:0;
background:#284775;
visibility:visible;
}

/*LAYOUT FOR SUB PAGE CONTENT*/
#content-sub {
margin:33px auto;
/*width:725px;*/
width:940px;
padding:10px;	
font:normal 12px arial;
border-top:solid 1px #184D7F;
}

#content-sub p {
padding:5px;
line-height:15px;
color:#777;
}

#.content-sub ul {
padding:10px 0 20px 0;
}

#content-sub ul li {
margin:0 0 0 20px;
font-size:12px;
color:#2c84b6;
list-style: disc; /*klewis modified*/
}

#content-sub h1, #content-sub h2, #content-sub h3 { /*klewis modified*/
color:#184D7F;
text-transform:uppercase;
padding:5px 0 0 0;
}

#content-sub h4 {
margin-bottom:0;
padding-bottom:0;
font-size:14px;
color:#000;
}

#content-sub a, .content-sub-menu a {
font:normal 14px arial;
color:#2c84b6;
text-decoration:none;
}

#content-sub a {
font-size:12px;
}

#content-sub a:hover {
text-decoration:underline;
color:#145f89;
}

.content-sub-menu {
width:300px;
background:#ffffff; /*#2c84b6;*/
border-left:solid 2px #2c84b6;
border-right:solid 1px #ddd;
/*border-top:solid 2px #2c84b6;*/
}

.content-sub-menu ul, .content-sub-menu ul li {
padding:0;
margin:0;
list-style:none;
}

.content-sub-menu a {
line-height: 1.6em;
display:block;
width:290px;
padding:0 5px;
border-bottom:solid 1px #d3d2ca;
border-top:solid 1px #f0f0f0;
}

.content-sub-menu a:hover {
background:#eee;
color:#2c84b6;
}

.content-sub-menu ul li ul {
width:270px;
}

.content-sub-menu ul li ul li {
padding:0px;
margin:0 20px;
}

.content-sub-menu ul li ul li a {
line-height: 1.6em;
display:block;
width:240px;
padding:0 20px;
background: url(../images/bullet_arrowblue.png) 5px 6px no-repeat;
border-bottom:solid 1px #d3d2ca;
border-top:solid 1px #f0f0f0;
border-left:solid 1px #d0d0d0;
}

.content-sub-menu ul li ul li a:hover {
background:#eee url(../images/bullet_arrowblue.png) 5px 6px no-repeat;
}

/*SUB PAGE JQUERY EXPAND ALL PANELS*/ /*klewis - modified section*/
#content-sub .expand a {
padding:10px 10px;
border:dotted 1px  #ccccd3;
font:bold 15px arial;
}

#content-sub .expand a:hover {
background: #f2f2f2 url(../images/arrow_white_d.gif);
text-decoration:none;
}

#content-sub .expand a:link, .content-sub .expand a:visited { 
display: block;
background-image: url(../images/arrow_white_d.gif);
border-width: 1px;
background-repeat: no-repeat;
background-position: 98% 50%;
}

#content-sub .expand a.open:link, #content-sub .expand a.open:visited  {
background-image: url(../images/arrow_white_u.gif);
}

.content-columns {
text-align:center;
}

/*HOME PAGE MULTIPLE COLUMN LAYOUT*/
.column-box-1 {
width:308px;
height:193px;
float:left;
text-align:left;
}

.column-box-2 {
width:308px;
height:193px;
float:left;
margin-left:18px;
text-align:left;
}

.column-box-3 {
width:308px;
height:193px;
float:right;
text-align:left;
}

.box-signuptoday {
background: url(../images/btn_signuptoday.jpg) no-repeat;
}

.box-signuptoday h3, .box-signuptoday h3 a {
padding-top:10px;
padding-left:10px;
color:#0468aa;
font:normal 30px  Geneva, arial;
}

.box-signuptoday p {
font:normal 13px arial;
color:#333;
}

.box-signuptoday a {
color:#0468aa;
text-decoration:none;
}

/*JQUERY SLIDER*/
.slider {
padding:0;
margin:0 auto;
width:960px;
height:215px;
background: url(../images/slider_bg.jpg);
}

#leftEnd{
    float: left;
    width: 53px;
    height: 215px;
}

#carousel{
    float: left;
    width: 800px !important;
    overflow: hidden !important;
    height: 215px;
    position: relative;
}

#carouselList{
	position: relative;
    left:-160px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 9999px;
    /*padding-bottom: 10px;*/
    display: table;
}

#carouselList li{
    float: left;
    width: 150px;    
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 3px;
    line-height: .4em;
    display: inline;
}

#carouselList li img{
    .margin-bottom:-4px;
    cursor: pointer;
    cursor: hand;
    border: 0px;
}

.carouselImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#leftScroll{
    float: left;
    height: 213px;
    width: 20px;
    margin-top: 1px;
    margin-right: 2px;
    margin-left: 20px;
}

#btnLeft{
    width: 20px;
    height: 200px;
    background: url(../images/slider_left.jpg);
    display: block;
    font-size: 10px;
    text-decoration: none;
}

#btnLeft:hover{
    background-position: 20px 0;
}

#rightScroll{
    float: left;
    height: 213px;
    width: 20px;
    margin-top: 1px;
    margin-left: 10px;
}

#btnRight{
    width: 20px;
    height: 200px;
    background: url(../images/slider_right.jpg);
    display: block;
    font-size: 10px;
    text-decoration: none;
}

#btnRight:hover{
    background: url(../images/slider_right.jpg) 20px 0px;
 }

#leftScroll img, #rightScroll img{
    border: 0;
    display: block;
    cursor: pointer;
    cursor: hand;
}

p.prodTitle {
	margin:10px 0 0 0;
}

p.prodTitle a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-decoration: none;
    color: #64a4d0;
}

p.description{
    font-family: verdana, sans-serif;
    font-size: 10pt;
    color: #999999;
    font-style:normal;
	margin:5px 0 10px 0;
	padding:5px 0 5px 0;
}

p.price{
    font-family: verdana, sans-serif;
    font-size: 10pt;
    color: #000;
    font-weight: bold;
}

/*CREATE MULTPLE FOOTER COLUMNS*/
.footer-box {
padding:0 25px 0 15px;
margin:25px 0 0 40px;
float: left;
border-left: solid 1px #ccc;
}

.footer-box h2, .footer-box h2 a {
font:bold 16px arial;
color:#999;
}

.footer-box ul li, .footer-box ul li a {
text-decoration:none;
font:normal 11px arial;
color:#b0b0b0;
}

.footer-box ul li a:hover {
text-decoration:underline;
color:#555;
}

#copy {
padding:10px 0 300px 10px;
border-top:solid 1px #ccc;
font:normal 9px arial;
color:#b0b0b0;
/*height:600px;*/
}

#copy ul {
width:100%;
}

#copy ul li {
float:left;
width:50%;
}

#copy ul li p {
text-align:right;
width:100%;
}